﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Emoji Password Generator";
}

<div class="text-center">
    <form method=post>
        <input type="text" name="generatedPassword" id="generatedPassword" value="@Model.GeneratedPassword.Password">
        <button class="btn-primary" type="button" onclick="copyPasswordToClipboard()">Copy!</button>
        <button class="btn-primary" type="submit">Generate!</button>
    </form>
</div>
